---
layout: album
title: Album
background: "/_assets/img/album.jpg"
permalink: "/album/"
---

<ul class="c-Album">
  {% assign songs = site.pages | sort: "order" %}
  {% for song in songs %}
    {% if song.layout == "song" %}
      <li class="c-Album-item c-Album-item--{{ song.order }}">
        <a class="c-Album-link" href='{{ site.baseurl }}{{ song.permalink | escape }}'>
          {% asset "{{ song.coverhover | remove: '/_assets/img/' }}" alt="{{ song.title }}" %}
          {% asset "{{ song.cover | remove: '/_assets/img/' }}" alt="{{ song.title }}" %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
