---
layout: default
---

<article class="l-Article">
  <div class="l-Article-body">
    <div class="l-Article-content">
      {{ content }}
    </div>
    <div class="l-Article-wrapAside">
      <aside class="l-Aside" role="complementary">
        <header class="l-Aside-header">
          <h2 class="l-Aside-title">Playlist</h2>
        </header>
        <ul class="c-Album c-Album--list">
          {% assign songs = site.pages | sort: "order" %}
          {% for song in songs %}
            {% if song.layout == "song" %}
              <li class="c-Album-item c-Album-item--{{ song.order }}">
                <a class="c-Album-link" href='{{ site.baseurl }}{{ song.permalink | escape }}'>{{ song.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</article>
