---
layout: default
---

<article class="l-Article l-Article--home">
  <div class="l-Article-body">
    <div class="l-Article-content">
      {{ content }}
    </div>
    <div class="l-Article-wrapAside">
      <aside class="l-Aside" role="complementary">
        <header class="l-Aside-header">
          <h2 class="l-Aside-title">Shows</h2>
        </header>
        <div class="l-Aside-wrapEvent">
          <dl class="c-Event">
            <dt class="c-Event-title">
              <a href="https://www.facebook.com/events/123829051619637/" target="_blank" rel="noreferrer noopener">Pjetka Music Club<br> <em>with support February</em></a>
            </dt>
            <dd class="c-Event-location">Ostrava</dd>
            <dd class="c-Event-date">
              <time>25. 11. 2017</time>
            </dd>
          </dl>
        </div>
        <div class="l-Aside-wrapEvent">
          <dl class="c-Event">
            <dt class="c-Event-title">
              <a href="https://www.facebook.com/events/1343657172428865/" target="_blank" rel="noreferrer noopener">Bike Jesus<br> <em>with support Martin Tvrdý (album producer)</em></a>
            </dt>
            <dd class="c-Event-location">Praha</dd>
            <dd class="c-Event-date">
              <time>2. 12. 2017</time>
            </dd>
          </dl>
        </div>
      </aside>
    </div>
  </div>
</article>
