---
layout: default
---

<article class="l-Article">
  <div class="l-Article-body">
    <div class="l-Article-content">
      {{ content }}
    </div>
    {% if page.shows %}
      <div class="l-Article-wrapAside">
        <aside class="l-Aside" role="complementary">
          <header class="l-Aside-header">
            <h2 class="l-Aside-title">Shows</h2>
          </header>
          {% for show in page.shows %}
            <div class="l-Aside-wrapEvent">
              <dl class="c-Event">
                <dt class="c-Event-title">
                  <a href="{{ show.facebook | escape }}" target="_blank" rel="noreferrer noopener">
                    {{ show.club | escape }}
                    {% if show.note %}
                      <br> <em>{{ show.note | escape }}</em>
                    {% endif %}
                  </a>
                </dt>
                <dd class="c-Event-location">{{ show.town | escape }}</dd>
                <dd class="c-Event-date">
                  <time>{{ show.date | date: "%d. %m. %Y" }}</time>
                </dd>
              </dl>
            </div>
          {% endfor %}
        </aside>
      </div>
    {% endif %}
  </div>
</article>
