---
layout: default
---

<article class="l-Article">
  <div class="l-Article-body">
    <div class="l-Article-content">
      <h2>{{ page.title }}</h2>
      {% if page.embed.youtube %}
        <div class="l-Article-wrapEmbed  o-Embed">
          <iframe src='https://www.youtube.com/embed/{{ page.embed.youtube }}' frameborder='0' allowfullscreen></iframe>
        </div>
      {% endif %}
      <div class="{% if page.embed.bandcamp %} l-Article-wrapEmbedSingle{% else %} l-Article-wrapEmbedAlbum{% endif %}">
        <iframe style="border: 0; width: 100%; height: {% if page.embed.bandcamp %}120px{% else %}406px{% endif %};" src="https://bandcamp.com/EmbeddedPlayer/album=4244797262/size=large/bgcol=ffffff/linkcol=0687f5/{% if page.embed.bandcamp %}tracklist=false/{% endif %}artwork=small/{% if page.embed.bandcamp %}track={{ page.embed.bandcamp }}/{% endif %}transparent=true/" seamless><a href="http://jaroslavkorbel.bandcamp.com/album/eternalism">Eternalism by Jaroslav Korbel</a></iframe>
      </div>
    </div>
    <div class="l-Article-wrapAside">
      <div class="c-Aside">
        <div class="l-Aside-header">
          <h2 class="l-Aside-title">Lyrics</h2>
        </div>
        {{ content }}
      </div>
    </div>
    <div class="l-Article-wrapAside">
      <aside class="l-Aside" role="complementary">
        <header class="l-Aside-header">
          <h2 class="l-Aside-title">Playlist</h2>
        </header>
        <ul class="c-Album c-Album--list">
          {% assign songs = site.pages | sort: "order" %}
          {% for song in songs %}
            {% if song.layout == "song" %}
              <li class="c-Album-item c-Album-item--{{ song.order }}">
                <a class="c-Album-link" href='{{ site.baseurl }}{{ song.permalink | escape }}'>{{ song.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</article>
